.container {
  text-align: center;
  margin: 10px 0 0 0;
}
#canvas {
  display: block;
  margin: 10px auto;
  border: 2px solid black;
  box-sizing: border-box;
}
.button-start {
  width: 100px;
  height: 25px;
  background-color: #f0ee7e;
  font-size: 18px;
  border: 2px solid black;
}
.score {
  width: 50px;
  font-size: 40px;
  font-weight: bold;
  margin: 10px auto;
  color: red;
}
